
body {
    background-color: lightcyan;
    
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: orange;
  }
  .navigation {
    background-color: orange;
  }
  .active{
    text-decoration: underline;
  
  }

figcaption {
  background-color:orange;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

